/* Reset style */
:root {
    --primary: #2DA884;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* #2DA884 */

/* global style */
.container {
    width: 80%;
    margin: auto;
}

.bg-primary {
    background-color: var(--primary);
}

.text-primary {
    color: var(--primary);
}

.text-white {
    color: white;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}

.btn-rounded {
    padding: 3% 9%;
    font-size: 20px;
    border-radius: 22px;
    border: 0;
    font-weight: bold;
}

.btn-primary {
    background-color: var(--primary);
    color: white;
}

.btn-white {
    background-color: white;
    color: var(--primary);
}

.bg-white {
    background-color: white;
}

.text-center {
    text-align: center;
}

.border-left {
    border-left: 1px solid black;
}

.w-25 {
    width: 25%;
}

.text-transform {
    text-transform: capitalize;
}
.text-black {
    color: black;
}
.inline-block {
    display: inline-block;
}
.box-shadow{
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.paragraph{
    font-size: 13px;
    color: #525252;
    width: 76%;
    
}
.small-paragaph{
    font-size: 11px;
    color: #525252;
    width: 91%;
    padding: 3%;
    
}
.margin-top-buttom{
    margin-top: 5%;
    margin-bottom: 3%;
}
.title-center{
    text-align: center;
    width: 50%;
    margin-left: 30%;
    margin-bottom: 5%;
}


/* custom style */
.hero-section {
    background-image: url(../images/Image\ Placeholder.png);
    background-size: 100% 100%;
    padding: 1% 0%;
}

.logo {
    width: 150px;
}

nav {
    border-bottom: 1px solid white;
    padding-bottom: 1%;
}

nav ul {
    width: 25%;
}

.btn-container {
    width: 18%;
}

.hero-details {
    width: 60%;
    margin: 2% auto;
    text-align: center;
}

.hero-section h1 {
    font-size: 90px;
    margin-bottom: 2%;

}

.hero-btn {
    padding: 2% 4%;
    border-radius: 35px;
    margin-top: 3%;
}

.hero-count {
    padding: 2%;
    border-radius: 15px;
    width: 70%;
    margin: auto;
}

.hero-count h3 {
    font-size: 30px;
}

/* caring---------------------------------------------------------------------------------*/

.caring-section {
    width: 100%;
}

.caring-section h2 {
    font-size: 50px;
}



.text_careing {
    width: 41%;
    margin:3%;
    margin-left: 30%;
    
}
.icon_caring{
        width: 30%;
        margin-left: 20%;
        margin-bottom: 5%;
}
.icon{

    border-radius: 3%;
    margin-bottom: 3%;
    padding: 5%;

}
.img_caring img{
    width: 85%;
    border-radius: 5%;
    height: 65%;
    margin-left: 30%;

}
.img_caring{

    width: 30%;
}
/*  they choose us ---------------------------------------------------------------------------------*/
.img-us img{
    width: 60%;
    height: 95%;
    border-radius: 10%;
    margin-left: 20%;
    margin-top: 5%;
}
.text-us{
    width: 40%;
    margin-right: 10%;
}
.img-us img{
    width: 60%;
    margin-left: 39%;
}

.text-us h2{
    font-size: 40px;
    
}
.choose-us{
    margin-bottom: 10%;
    column-gap: 5%;
}
/*  landscaping ---------------------------------------------------------------------------------*/
.landscaping{
    width:91%;
    margin-left: 4%;
}
.cards{
    width: 70%;
    flex-wrap: wrap;
    margin-left:17%;
    row-gap: 20px;
    margin-bottom: 20%;
}
.text-land{
    width: 27%;
    border-radius: 7px;
    margin-bottom: 5%;
}
.title-land{
    width: 40%;
    margin-left: 17%;
    margin-bottom: 5%;
}
.title-land h2{
    margin-right: 26%;
    font-size: 40px;
}
.imag-primry{
    color: #2DA884 ;
}

.text-land img,h3 {
    margin-left: 5%;
    
}
.text-land:hover{
        background-color: #2DA884;
        color:white;
        
}

/*  pricing table ---------------------------------------------------------------------------------*/
.title-table{
    margin-bottom: 3%;
}

.title-table h2{
    font-size: 50px;
    margin-right: 27%;
    font-weight: 600;
    margin-bottom: 5%;
}
.cards-pricing{
    width: 23%;
    border-radius: 10px;
    padding-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;

}
.pricing-list{
    align-items: flex-start;
    width: 73%;
    margin-left: 13%;
}

.bar-list{
    padding: 5%;
    border-radius: 10px;
    font-size: 13px;
    padding-top: 5%;
    padding-left: 7%;
}
.bt-pricing{
    margin-left: 5%;
    width: 40%;
    padding:3% 2%;
    font-weight: 400;
    font-size: 13px;
    margin-top:0%;
}
.pricing{
    padding: 9%;
    font-size: 54px;
    font-weight: 600;

}
.pricing p{
    font-size: 13px;
    margin-left: 25%;
    margin-top: 10%;
}
.option li{
    color: #2DA884;
    margin-right: 8px;
    padding: 10%;
}
.option{
    font-size: 9px;
    width: 70%;
    padding: 7px 15px;
    margin-left: 13%;
    margin-top: 7%;
    
}
.cards-pricing li{
    border-bottom:0.5px solid var(--primary);
}
.bt-b button{
    font-weight: 300;
    padding: 6%;
}
.cards-pricing :hover{
    background-color: var(--primary);
    color: white;
}

.cards-pricing:hover button{
    background-color: white;
    color:var(--primary);
}

.cards-pricing:hover .bar-list {
    background-color: white;
    color: var(--primary) ;
}
.cards-pricing:hover .bar-list button{
    background-color: var(--primary);
    color: white;
}
/*  our gallery---------------------------------------------------------------------------------*/

.images-gallery {
    width: 60%;
    border-radius: 7px;
    gap: 44px;
    margin-left: 20%;
}
.img1,.img3-4,.img5{
    flex:1px;
}

.img1 img ,.img5 img{
    width: 100%;
    height:auto;
    border-radius: 7px;
}
.img3-4{
    flex-direction: column;
    gap: 15px;
    }

.img2,
.img3 {
    flex: 1

}
.img2-3{
    gap: 20px;
}
.img4{
    flex: 1;

}

.img2 img,
.img3 img,
.img4 img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.img4 img {
    height: 80%;
}
.text-gallry  h2{
        font-size: 40px;
        margin-right: 20%;
}
.text-gallry p{
    font-size: 15px;
    margin-top: 3%;
}
.text-gallry{
    width: 70%;
    margin-left: 20%;
    margin-top: 10%;
}
/*  EcoSculpt---------------------------------------------------------------------------------*/


.fa-star {
    color:goldenrod;
    font-size: 10px;
    
    }
.text-eco h2{
    font-size: 30px;
}
.eco-flex{
    flex-wrap: wrap;
    gap: 15px 15%;
    margin-left: 20%;

}
.Eco {
    position: relative;
    width:35%;
    border-radius: 10px;
    
}
.Eco h2{
    margin-bottom: 0%;
    padding-bottom: 0%;
    margin-left: 11%;
}
.s-p  {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 17px;
    
}
.Eco p{
    margin-left: 7%;

}
.Eco img{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50px;
    left: -23px;
    
}
.star{
    margin-left: 71%;
    margin-bottom: 3%;
    position: absolute;
    bottom:6px ;
    
}
.text-eco{
    margin-top: 10%;
    width: 33%;
    margin-left: 35%;
}
.text-eco h2{
    font-size: 30px;
}
.Eco:hover{
    background-color: var(--primary);
    color: white;
}
/*  Questions---------------------------------------------------------------------------------*/

.Frequently{
    margin-top: 10%;
}
.text-q{
    width: 50%;
    margin-top: 15%;
    
    margin-left: 30%;
    
}
.text-q h2{
    margin-bottom:2%;
    font-size: 40px;

}

.Questions-box {
    position: relative;
    width: 65%;
    padding: 1%;
    border-radius: 10px;
    margin-left: 15%;
    margin-bottom: 7px;
}

.arrow {
        position: absolute;
        right: 5%;
        top: 22px;
}
.answer{
    font-size: 11px;
    color: #525252;
    width: 91%;
    display: none;
}

.Questions-box:hover .answer{
    display: block;
    color: white;

}
.Questions-box:hover {
    background-color: var(--primary);
    color: white;
}
.Questions-box:hover .arrow {
    transform: rotate(180deg);
}

/*  Blog and artical---------------------------------------------------------------------------------*/
.title-blog h2{
    margin-bottom: 2px;
    margin-top: 20%;
    font-size: 47px;
    font-weight: 600;

}
.title-blog{
    width: 50%;
    margin-left: 28%;
    margin-bottom: 25px;
}

.ss-pragaph{
    display: inline-block;
    font-size: 11px;
    width: 91%;
    padding: 2%;
}
.contaner-blog{
    width: 80%;
    margin-left: 80px;
}
.Right-plants{
    width: 27%;
    margin-left: 7%;
    
}
.image-L{
    width: 100%;
    height: 40%;
    border-radius: 10px;
}
.icons-S {
    width: 249px;
    margin-left: 10px;
    margin-top: 10%;
}
.image-S{
    width: 48px;
    height: 17px;
}
.icons-S p{
    font-size: 9px;
}
.Right-plants button{
    padding: 11px;
    width: 100%;
    margin-left: -1%;
}
.Right-plants h2{
    font-size: 23px;
}
.Right-plants button:hover{
    background-color: rgb(195, 182, 182);
    color: var(--primary);
}
/* Form-image--------------------------------------------------------------------------------*/

.Contact-us{
    margin-bottom: 10% ;
}

.title-form{
        width: 50%;
        margin-left: 20%;
}
.title-form h2{
    margin-bottom: 2px;
    margin-top: 20%;
    font-size: 47px;
    font-weight: 600;
}
.contaner-form{
    width: 50%;
    border-radius: 15px;
    margin-left: 23%;
    overflow: hidden;

}
.img-form {
    width: 45%;
}
.img-form img{
    width: 100%;
}
.form{
    width: 65%;
    background-color: var(--primary);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.form input,
.form textarea,
.form button {
    width: 100%;
    padding: 3%;
    background-color: var(--primary);
    color: white;
    border-color: white;
    border-radius: 30px;
    margin-bottom: 7%;
    
}
.form label{
    font-size: 14px;
    font-weight: 600;
}
input::placeholder {
    color: white;
}
.form button:hover{
    background-color: white;
    color: var(--primary);
}
/* follow us-------------------------------------------------------------------------------*/
.follow-us{
    width: 100%;
    background-color: var(--primary);
    color: white;
    margin-top: 1%;

}
.title-f,
.ul-f,
.icon-f,
.us {
    width: 25%;
    padding: 3% 5%;
    word-spacing: 2px;
    letter-spacing: 1px;
}
.follow-us * {
    margin-bottom: 17px;
}
.contaner-follow p{
    font-size: 15px;
}

.soial-icon div {
    background-color: white;
    width: 25px;
    height: 32px;
    margin-left: 31px;

}

.follow-us h2{
    font-size: 25px;
    font-weight: 700;

}
.follow-us h3{
    font-size: 20px;
    font-weight: 500;
}
.follow-us h2,h3{
    margin-left: 5px;
}
.icons-link img{
    width: 13px;
    height: 19px;
}
.icons-link p{
    margin-left: 10px;
}
.us *{
    margin-top: 10px;
}