* {
    margin: 0%;
    padding: 0%;
}


.card {
    width: 300px;
    height: 300px;
    /* overflow: hidden; */
    box-shadow: 10px;
    position: relative;
}

.card1 {
    background-color: rgb(18, 117, 174);
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
    position: relative;

    background-color: blue;
}

.card1 img {

    width: 20%;
    margin: 37%;
}

.card2 {
    position: absolute;
    background-color: rgb(203, 143, 143);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 2s;
    /* z-index: 1; */
}

.card:hover .card2 {
    top: 100%;
}

hr {
    width: 5%;
}